<div class="motion_nav">
  <div class="motion_nav-menu" ng-class="{'open':open }">
    <div class="motion_nav-close" ng-class="{'open':open }" ng-click="open=false"><i class="fa fa-times"></i></div>
    <ul class="motion_nav-menu-list" ng-click="open = true">
      <li class="motion_nav-menu-item"><a>Home</a></li>
      <li class="motion_nav-menu-item"><a>Service</a></li>
      <li class="motion_nav-menu-item"><a>Search</a></li>
      <li class="motion_nav-menu-item"><a>Help</a></li>
    </ul>
  </div>

</div>